<app-banner [path]="'/Catalog'" [text]="'&lt; Back'"></app-banner>
<div class="about">
  <div class="content">
    <h3 id="about-title">Features</h3>
    <div class="list">
      <ul>
        <li>
          See a view of your hardware configurations and major peripherals within a CPC, including:
          <ul>
            <li>Total number of processors and their allocations across your SYSPLEX/LPARS</li>
            <li>Serial number for each processor</li>
            <li>Type of processor </li>
          </ul>
        </li>
        <li>
          See data about software in your environment, including:
          <ul>
            <li>Operating systems</li>
            <li>Subsystems</li>
            <li>Registered products</li>
            <li>Vendor products </li>
          </ul>
        </li>
        <!--<li>Feature Three: diam quis enim lobortis scelerisque fermentum dui faucibus</li>-->
      </ul>
      <ul>
        <li>Track the health of your hardware and software in one location. With MRI, view exception information for each LPAR you assess, by: </li>
        <ul>
          <li>Owner</li>
          <li>Type of check</li>
          <li>Severity level (high, medium, and low) </li>
        </ul>
        <!--<li>Feature Five: Elementum pulvinar etiam non quam lacus. Ac ut consequat</li>-->
        <!--<li>Feature Six: Orci porta non pulvinar neque laoreet suspendisse.</li>-->
      </ul>
    </div>
    <hr>
    <h3>How MRI Can Benefit You</h3>
    <p>
      By providing a detailed view of the hardware and software in your complex, MRI gives you intelligence you can use to optimize your environment and potentially reduce your cost.
    </p>
    <!--<div class="list">-->
      <!--<ul>-->
        <!--<li>Feature One: Tempor orci dapibus ultrices in iaculis nunc. Convallis a cras semper</li>-->
        <!--<li>Feature Two: At varius vel pharetra vel. Etiam dignissim</li>-->
        <!--<li>Feature Three: diam quis enim lobortis scelerisque fermentum dui faucibus</li>-->
      <!--</ul>-->
      <!--<ul>-->
        <!--<li>Feature Four: Sit amet mattis vulputate enim nulla aliquet porttitor lacus</li>-->
        <!--<li>Feature Five: Elementum pulvinar etiam non quam lacus. Ac ut consequat</li>-->
        <!--<li>Feature Six: Orci porta non pulvinar neque laoreet suspendisse.</li>-->
      <!--</ul>-->
    <!--</div>-->
    <hr>
    <h3>How It Works</h3>
    <p>
      Mainframe Resource Intelligence (MRI) allows you to easily and frequently run scans of your mainframe configuration to recommend improvements to optimize cost savings, reliability, processes, and security.
    </p>
    <hr style="margin-bottom: 0;">
  </div>
  <div class="sidebar">
    <h3>About</h3>
    <p>
      Version 0.1
      Last Updated **/**/**
    </p>
    <br>
    <h3>Support</h3>
    <p style="white-space: normal;">
      For product information and help, see <a target="_blank" href="https://support.ca.com">CA Support </a>.
      To contact CA Support, see <a target="_blank" href="https://www.ca.com/us/services-support/ca-support/contact-support.html">Contact CA Support</a> for details.
    </p>
  </div>
</div>
