<app-spinner *ngIf="loading"></app-spinner>
<div class="forgotPassword-container">
  <form class="forgotPassword-form"  [formGroup]="form" (ngSubmit)="forgotPassword(form.value)">
    <mat-card>
        <h2>Retrieve Password</h2>
      <mat-card-content>
        <label for="forgot-password" class="label-space">Email Address</label>
        <input id="forgot-password" placeholder="Email" [type]="'email'" formControlName="email"  required>
          <mat-error *ngIf="form.controls['email'].invalid && form.controls['email'].touched">Enter a valid email</mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button [type]="'submit'" mat-raised-button color="primary" [disabled]="!form.valid">Send Password</button>
      </mat-card-actions>
      <mat-card-actions *ngIf="success" >
        <h6>Your password has been sent to the email provided.
          <a (click)="goBackToLogin()" href="javascript:;"> Click here to Login</a></h6>
      </mat-card-actions>
      <mat-card-actions *ngIf="failed" >
        <h6><mat-error>No account found for this email address.</mat-error>
          <a (click)="gotoCreateAccount()" href="javascript:;"> Click here to create a new account</a></h6>
      </mat-card-actions>
        <mat-card-footer>&nbsp;</mat-card-footer>
    </mat-card>
  </form>
</div>
