<mat-toolbar class="banner">
  <div class="banner-text">
    <h4 class="text">
      Mainframe Resource Intelligence (MRI) allows you to easily and frequently run scans of your mainframe configuration
      to recommend improvements to optimize cost savings, reliability, processes, and security.
    </h4>
    <a href="javascript:;" class="more" routerLink="{{path}}">{{text}}</a>
  </div>
  <div class="spacer"></div>
  <img class="banner-image" src="assets/scan-illustrationFinal.png" alt="Mainframe" aria-hidden="true">
</mat-toolbar>