@import '~themes.scss';

app-create-account {
  .mat-card-actions, .mat-card-header-text {
    margin: 0px !important;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-grid-list {
    margin: 50px 0px;
  }
}

.changePassword-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/trianglify.svg") no-repeat center fixed;
  background-size: cover;
  background-color: mat-color($primary);
}

.changePassword-form {
  min-width: 450px;
  margin-bottom: 50px;
}

.change-password-field{
  width: 75%;
}
