<app-spinner *ngIf="loading"></app-spinner>
<div class="changePassword-container">
    <mat-card class="mat-elevation-z6">
      <form class="changePassword-form" [formGroup]="form" (ngSubmit)="changePassword(form.value)" flex="50">
      <mat-card-header>
        <mat-card-title><h1>Change Password</h1></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="change-password-field">
          <input matInput placeholder="Current Password" [type]="'password'" formControlName="currentPassword" required>
          <mat-error class="input-error">Enter a password</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="change-password-field">
          <input matInput placeholder="Password" [type]="'password'" formControlName="newPassword" required>
          <mat-error *ngIf="form.controls['newPassword'].invalid && form.controls['newPassword'].touched && onlytouched">Enter a password</mat-error>
          <mat-error *ngIf="form.controls.newPassword.errors?.passwordPatternForUppercase  && !onlytouched">that contains atleast one upper case letter</mat-error>
          <mat-error *ngIf="form.controls.newPassword.errors?.passwordPatternForNumber  && !onlytouched">that contains atleast one number</mat-error>
          <mat-error *ngIf="form.controls.newPassword.errors?.passwordPatternForLength && !onlytouched">that contains minimum 8 characters</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="change-password-field">
          <input matInput placeholder="Confirm Password" [type]="'password'" formControlName="confirmPassword" required>
          <mat-error class="input-error" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">Passwords do not match</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button [type]="'submit'" mat-raised-button color="primary" [disabled]="!form.valid">Change Password</button>
      </mat-card-actions>
      <mat-card-actions *ngIf="success">
        <h6>Password has been successfully created.
          <a (click)="goBackToLogin()" href="javascript:;"> Click here to Login</a></h6>
      </mat-card-actions>
      <mat-card-actions *ngIf="failed">
        <mat-error class="input-error">Wrong Current Password</mat-error><a (click)="goToForgotPassword()" href="javascript:;"> Click here to Retrieve Password</a>
      </mat-card-actions>
      <mat-card-footer>&nbsp;</mat-card-footer>
  </form>
</mat-card>
</div>
