<div style="margin:50px;">
  <div>
    <h1>Page Title</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Large Section Header</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3>Medium Section Header</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h4>Small Section Header</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
    <p class="mouse">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      <li>TEST A</li>
      <li>TEST B</li>
      <li>TEST C</li>
    </ul>
    <p class="long">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="long">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div>
    <a href="javascript:;">Link</a>
    <a href="javascript:;" class="success">Link</a>
    <a href="javascript:;" class="warning">Link</a>
    <a href="javascript:;" class="error">Link</a>
  </div>
  <div>
    <div>
      <button>Default</button>
      <button><mat-icon class="pre">home</mat-icon>Default</button>
      <button>Default<mat-icon class="post">home</mat-icon></button>
      <button><mat-icon class="pre">home</mat-icon>Default<mat-icon class="post">home</mat-icon></button>
    </div>
    <div>
      <button class="primary">Primary</button>
      <button class="primary"><mat-icon class="pre">home</mat-icon>Primary</button>
      <button class="primary">Primary<mat-icon class="post">home</mat-icon></button>
      <button class="primary"><mat-icon class="pre">home</mat-icon>Primary<mat-icon class="post">home</mat-icon></button>
    </div>
    <div>
      <button class="success small">Success</button>
      <button class="success small"><mat-icon class="pre">home</mat-icon>Success</button>
      <button class="success small">Success<mat-icon class="post">home</mat-icon></button>
      <button class="success small"><mat-icon class="pre">home</mat-icon>Success<mat-icon class="post">home</mat-icon></button>
    </div>
    <div>
      <button class="warning medium">Warning</button>
      <button class="warning medium"><mat-icon class="pre">home</mat-icon>Warning</button>
      <button class="warning medium">Warning<mat-icon class="post">home</mat-icon></button>
      <button class="warning medium"><mat-icon class="pre">home</mat-icon>Warning<mat-icon class="post">home</mat-icon></button>
    </div>
    <div>
      <button class="danger large">Danger</button>
      <button class="danger large"><mat-icon class="pre">home</mat-icon>Danger</button>
      <button class="danger large">Danger<mat-icon class="post">home</mat-icon></button>
      <button class="danger large"><mat-icon class="pre">home</mat-icon>Danger<mat-icon class="post">home</mat-icon></button>
    </div>
    <div>
      <button class="minimal jumbo">Minimal</button>
      <button class="minimal jumbo"><mat-icon class="pre">home</mat-icon>Minimal</button>
      <button class="minimal jumbo">Minimal<mat-icon class="post">home</mat-icon></button>
      <button class="minimal jumbo"><mat-icon class="pre">home</mat-icon>Minimal<mat-icon class="post">home</mat-icon></button>
    </div>
    <div>
      <button disabled>Disabled</button>
    </div>
  </div>
</div>